{% extends "admin-layout.html" %}

{%block body%}

<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#sidebar-collapse">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#">安酷<span>在线直播管理平台</span></a>
				<ul class="user-menu">
					<li class="dropdown pull-right">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown"><svg class="glyph stroked male-user"><use xlink:href="#stroked-male-user"></use></svg> {{user}} <span class="caret"></span></a>
						<ul class="dropdown-menu" role="menu">
							<li><a href="/admin/profile"><svg class="glyph stroked male-user"><use xlink:href="#stroked-male-user"></use></svg> 修改密码</a></li>
							<!--<li><a href="#"><svg class="glyph stroked gear"><use xlink:href="#stroked-gear"></use></svg> Settings</a></li>-->
							<li><a href="/admin/logout"><svg class="glyph stroked cancel"><use xlink:href="#stroked-cancel"></use></svg> 退出</a></li>
						</ul>
					</li>
				</ul>
			</div>
							
		</div><!-- /.container-fluid -->
	</nav>
		
	<div id="sidebar-collapse" class="col-sm-3 col-lg-2 sidebar">
		<!--<form role="search">
			<div class="form-group">
				<input type="text" class="form-control" placeholder="Search">
			</div>
		</form>-->
		<ul class="nav menu">
			<li ><a href="/admin/main"><svg class="glyph stroked dashboard-dial"><use xlink:href="#stroked-dashboard-dial"></use></svg> 主界面</a></li>
			<li><a href="/admin/streams"><svg class="glyph stroked clipboard-with-paper"><use xlink:href="#stroked-clipboard-with-paper"></use></svg>直播列表</a></li>
			<li><a href="/admin/vod"><svg class="glyph stroked desktop"><use xlink:href="#stroked-desktop"/></svg>点播</a></li>
			<li><a href="/admin/orders"><svg class="glyph stroked bag"><use xlink:href="#stroked-bag"></use></svg>订单</a></li>
			<li><a href="/admin/users"><svg class="glyph stroked male-user"><use xlink:href="#stroked-male-user"></use></svg> 用户</a></li>
			<li><a href="/admin/adminlist"><svg class="glyph stroked eye"><use xlink:href="#stroked-eye"></use></svg> 管理员</a></li>
			<!--<li><a href="panels.html"><svg class="glyph stroked app-window"><use xlink:href="#stroked-app-window"></use></svg> Alerts &amp; Panels</a></li>
			<li><a href="icons.html"><svg class="glyph stroked star"><use xlink:href="#stroked-star"></use></svg> Icons</a></li>-->
		</ul>

	</div><!--/.sidebar-->
		
	<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">			
		{%block content%}

		{%endblock%}			
	</div>	<!--/.main-->

{%endblock%}